In [1]:
from api import *

### Regional Download

In [3]:
from shapely.geometry import shape,mapping, Point, Polygon, MultiPolygon

In [4]:
def get_region(x):
    for row in regions_gdf.iterrows():
        name = row[1].nuts118nm
        region = row[1].geometry
        x_name = 'other'
        if region.contains(Point(x.Longitude, x.Latitude)):
            x_name = name
            return x_name
    return x_name

In [5]:
# filter down sites onto our regions of focus
regions_gdf = geopandas.read_file("NUTS_Level_1_(January_2018)_Boundaries.geojson")

sites_df = pd.DataFrame(data = sites)
sites_df['region'] = sites_df.apply(get_region, axis=1)

In [6]:
focus_regions = ['South East (England)', 
                 'East of England', 
                 'West Midlands (England)', 
                 'North West (England)', 
                 'South West (England)']

focus_sites_df = sites_df[sites_df.region.isin(focus_regions)]
focus_sites_df = focus_sites_df.reset_index(drop=True)
focus_sites_df['road_type'] = focus_sites_df.Description.apply(lambda x : x.split('/')[0][0])
focus_sites_motorway_df = focus_sites_df[focus_sites_df.road_type == 'M']

In [ ]:
# Get quality filter these sites down to quality > 90%
start_date, end_date = '19032019', '08042022'
quality_sites = get_quality_area(focus_sites_motorway_df, start_date = start_date, end_date = end_date)

In [7]:
quality_sites = pd.read_feather('quality_sites_motorway')

In [8]:
SE_sites_df = quality_sites[quality_sites.region == 'South East (England)']
EE_sites_df = quality_sites[quality_sites.region == 'East of England']
WM_sites_df = quality_sites[quality_sites.region == 'West Midlands (England)']
NW_sites_df = quality_sites[quality_sites.region == 'North West (England)']
SW_sites_df = quality_sites[quality_sites.region == 'South West (England)']

In [ ]:
start_date, end_date = '19032019', '08042022'

SE_report_df = get_reports_from_sites_df(SE_sites_df, start_date, end_date)
SE_report_df.to_feather('SE_report_df')
del SE_report_df

EE_report_df = get_reports_from_sites_df(EE_sites_df, start_date, end_date)
EE_report_df.to_feather('EE_report_df')
del EE_report_df

WM_report_df = get_reports_from_sites_df(WM_sites_df, start_date, end_date)
WM_report_df.to_feather('WM_report_df')
del WM_report_df

NW_report_df = get_reports_from_sites_df(NW_sites_df, start_date, end_date)
NW_report_df.to_feather('NW_report_df')
del NW_report_df

SW_report_df = get_reports_from_sites_df(SW_sites_df, start_date, end_date)
SW_report_df.to_feather('SW_report_df')
del SW_report_df

 10%|█         | 51/489 [21:05<3:01:06, 24.81s/it]

In [4]:
clean_bristol_report_df_norm = pd.read_feather('high_quality_traffic_reports/clean/clean_bristol_report_df_norm')

In [6]:
clean_bristol_report_df_norm

,site_name,site_id,report_date,time_period_ending,time_interval,0-520cm,521-660cm,661-1160cm,1160+cm,avg_mph,total_volume,timestamp,0-520cm_normalised,521-660cm_normalised,661-1160cm_normalised,1160+cm_normalised,total_volume_normalised
0,M4/3878A,1367,2019-03-19T00:00:00,00:14:00,0,60,4,6,39,61,109,2019-03-19 00:14:00,0.221646,0.211127,0.348009,1.088557,0.318048
1,M4/3878A,1367,2019-03-19T00:00:00,00:29:00,1,45,4,4,59,58,112,2019-03-19 00:29:00,0.166234,0.211127,0.232006,1.646792,0.326802
2,M4/3878A,1367,2019-03-19T00:00:00,00:44:00,2,50,2,9,47,59,108,2019-03-19 00:44:00,0.184705,0.105564,0.522013,1.311851,0.315131
3,M4/3878A,1367,2019-03-19T00:00:00,00:59:00,3,35,4,3,48,58,90,2019-03-19 00:59:00,0.129293,0.211127,0.174004,1.339763,0.262609
4,M4/3878A,1367,2019-03-19T00:00:00,01:14:00,4,44,4,3,42,59,93,2019-03-19 01:14:00,0.162540,0.211127,0.174004,1.172292,0.271362
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500592,M4/3886A,5994,2022-04-08T00:00:00,22:59:00,91,149,11,7,18,65,185,2022-04-08 22:59:00,0.554296,0.534302,0.386044,0.500695,0.538607
500593,M4/3886A,5994,2022-04-08T00:00:00,23:14:00,92,153,6,6,15,65,180,2022-04-08 23:14:00,0.569176,0.291438,0.330895,0.417245,0.524050
500594,M4/3886A,5994,2022-04-08T00:00:00,23:29:00,93,124,5,3,13,67,145,2022-04-08 23:29:00,0.461293,0.242865,0.165448,0.361613,0.422152
500595,M4/3886A,5994,2022-04-08T00:00:00,23:44:00,94,116,2,5,24,65,147,2022-04-08 23:44:00,0.431532,0.097146,0.275746,0.667593,0.427974
500596,M4/3886A,5994,2022-04-08T00:00:00,23:59:00,95,94,2,4,35,63,135,2022-04-08 23:59:00,0.349690,0.097146,0.220597,0.973573,0.393038